/**/
.App{
    position:flex;
    background-color: rgb(5, 77, 38);
    height: 100%;
}
.root-app{
    /**background-image: url('/src/Assets/images/curved_background.png');**/
    position: fixed;  
    height: 100%;
    width: 100%;
   
   
  }